body {
    background-color: black;
    color: #00ff00;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Change to align items from top */
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    margin-top: 20px;
}

label {
    margin-top: 15px;
    font-size: 1.2rem;
}

input {
    background-color: black;
    color: #00ff00;
    border: 2px solid #00ff00;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    width: 200px;
    margin-bottom: 20px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 10px #00ff00;
}

#wordInputs input {
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
}

#gridSizeOptions {
    margin-top: 20px;
}

#gridSizeOptions button {
    background-color: black;
    color: #00ff00;
    border: 2px solid #00ff00;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
    margin: 5px;
    transition: transform 0.2s, box-shadow 0.2s, color 0.2s, background-color 0.2s;
}

#gridSizeOptions button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px #00ff00;
}

button {
    background-color: #00ff00;
    color: black;
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.2s, box-shadow 0.2s;
    margin-top: 30px; /* Added margin to push it lower */
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px #00ff00;
}

.highlighted {
    background-color: #00ff00;
    color: black;
    font-weight: bold;
}

.grid {
    display: grid;
    gap: 5px;
    justify-content: center;
    margin: 20px auto;
}

.cell {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    background-color: black;
    color: green;
    border: 1px solid green;
    cursor: pointer;
}

.cell.highlighted {
    background-color: #00ff00;
    color: black;
    font-weight: bold;
}

